# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables / secrets
.env

# Local database files
db.sqlite3

# Python version manager
.python-version

# OS/editor files
.DS_Store
.vscode/
.idea/

# Logs
*.log
