{% extends 'shelter_project/base.html' %}
{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Paw and Order Rescue Center Home Page</title>
    <link rel"stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        {% block content %}
        <h1>About Us</h1>
        <p>Here at Paw & Order, we are here to give every animal the chance they desreve to find
            their perfect home! Come by and find your forever companion!
        </p>
        {% endblock %}
    </main>

</body>
</html>